<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>YOUR DAILY HELP! YOUR HELPER</h1><br>


    <h2>TO-DO-LIST</h2>
    <p>Increases productivity: A to do list allows you to prioritize the tasks that are more important. This means you don't waste time on tasks that don't require your immediate attention. Your list will help you stay focused on the tasks that are the most important.</p>
    <ul>
      <% for(let i=0; i<lists.length; i++){%>
      <a href="/index/<%=lists[i].id%>/edit"> <li> GO <%=lists[i].task%>  At <%=lists[i].time%> </li></a>
        <%}%>
    </ul>
    <a href="index/new"><input type="submit" name="" value="ADD TO-DO-LIST"><br></a>



    <h2>YOUR FAVORITES QUOTES</h2>
    <p>To reinforce your ideas: The main reason to quote material in your speech is to reinforce your words. A quotation offers a second voice that echoes your thoughts, beliefs, and claims. They said it better: Quotations provide a better way of saying things. They give you a more concise, memorable phrasing for an idea</p>
    <a href="#"><input type="submit" name="" value="GO to QUOTES"></a><br>
    <h2>BIBLE VERSES</h2>
    <p>Nehemiah 8:10 Do not grieve, for the joy of the Lord is your strength. Isaiah 41:10 So do not fear, for I am with you; do not be dismayed, for I am your God. I will strengthen you and help you; I will uphold you with my righteous right hand. Exodus 15:2 The Lord is my strength and my song; he has given me victory.</p>
    <a href="#"><input type="submit" name="" value="GO to BIBLE VERSES"><br></a>
  </body>
</html>
